* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: #808080;
  margin: 0;
  background-image: url("../imagem/z-cover.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x:hidden;
}

/* Header/Site Title */

.header {
  padding: 240px 0 200px 0;
  text-align: center;
}

.header h1 {
  font-size: 50px;
  font-family: Lora;
  color: white;
}

h2 {
  font-size: 40px;
  font-family: Lora;
  color: rgb(229, 231, 231);
}

h3 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
}

h4 {
  font-size: 30px;
  color: rgb(233, 241, 240);
  text-align: center;
}
/* Style to the top navigation bar */

.navigation {
  color: white;
  font-size: 20px;
  padding: 25px;
  text-align: center;
}


/* Style to the topnav links */

.navigation a {
  color: #f2f2f2;
  padding-right: 50px;
  text-decoration: none;
}

/* Change the color on hover */

.navigation a:hover {
  color: rgba(84,93,92,1) ;
}

.navigation-info {
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: white;
  font-size: 20px;
  padding: 25px;
  text-align: center;
  background-color: rgb(12, 12, 12);
}

.navigation-info a {
  color: #f2f2f2;
  padding-right: 50px;
  text-decoration: none;
}

/* Change the color on hover */

.navigation-info a:hover {
  color: rgba(84,93,92,1) ;
}



.about-text {
  font-family: Inconsolata;
  text-align: center;
  color: rgb(229, 231, 231);
}

.about {
  display: flex;
  flex-wrap: wrap;
  height: 640px;
  background-color: rgb(12, 12, 12);
  padding: 20px;
}

.about div {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about img {
  max-width: 55%;
  margin-top: 10px;
  border-radius: 8px;
  text-align: center;
}

.about h2 {
  text-align: center;
  margin-top: 0px;
}

.objective {
  padding: 50px;
  background-color: #1c1c1c;
}

.objective-text{
  font-family: Inconsolata;
  font-size: 20px;
  color: white;
  text-align: center;
}

.work{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  padding: 20px;
}
  
.work div {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  
.work img {
   max-width: 55%;
   border-radius: 8px;
  }

.work-text{
  margin: 15px;
  color:rgb(255, 255, 255);
}

.social {
  padding: 40px;
  background-color: rgb(12, 12, 12);
}

.social_fb {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.gallery{
  border-bottom-style: solid;
  border-bottom-width: thin;
  color: white;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(12,13,13,1);
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.gallery img {
  transition: 1s;
  width: 245px;

}

.gallery img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}



/* Footer */

.footer {
  padding: 30px;
  background: rgba(12,13,13,1);
  text-align: center;
  color: white;
}

.footer a {
  text-decoration: none;
  color: rgba(211, 219, 222, 1);
}


/* Responsive - */ 

@media screen and (max-width: 400px) {

.body {
  height: 645px;
  background-position: center center;
}
  
.header {
  padding:70px;
}

.navigation a {
  padding: 10px 0;  
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

.navigation-info{
 width: 380px;
 display: flex;
 flex-direction: column;
}

.social, .footer{
  width: 380px;
}

.gallery{
  padding: 60px;
  width: 380px;
}

.gallery img {
  flex: 50%;
  
}

}

@media screen and (min-width: 425px) {

.navigation-info{
  display: flex;
  flex-direction: column;
}

.gallery{
padding: 80px;
}

}