* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0px;
  }
  
  /* Header/Site Title */
  .header {
    padding: 230px;
    text-align: center;
    background-image: url(imagem/foto.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .header h1 {
    font-size: 50px;
    font-family: Lora;
    color: white;
  }
  h2{
    font-size: 40px;
    font-family: Lora;
    color: #808080;
    text-align: center;
    margin-top: 100px;
  }
  h3{
    font-size: 20px;
    color: white;
    text-align: center;
  }

  /* Style to the top navigation bar */
  .topnav {
    color: white;
    background: #1c1c1c;
    top: auto;
    left: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    height: 60px;
    
  }
  
  /* Style to the topnav links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    right: 0;
    margin-left: 80px;
    width: 150px;
  }
  
  /* Change the color on hover */
  .topnav a:hover {
    background-color: #6e6b6b;
    color: none;
  }

  .introduce{
    font-family: Inconsolata;
    font-size: 20px;
    color: white;
    text-align: center;
  }
  

  p{
    color: #808080;
  }

  .firsttext{
    font-family: Inconsolata;
    color: #808080;
    
  }

  .content-wrap{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #D3D3D3;
    background-color:none;
    padding: 0px;
  }

  .content-wrap > div:first-child {
    float: left;
  }

  .content-wrap > div:last-child {
    float: right;
  }

  .objective{
    overflow: hidden;
    padding: 70px;
    background-color:rgba(75,98,102,1);
  }
  
  .socialmedia{
    overflow: hidden;
    background-color: rgba(214,217,218,1);
    padding: 40px;
  }

  .social_fb {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }


  /* album Populares */
  .albumpopulares {
    background-color:none;
    width: 90%;
    margin-top: 0;
    padding: 20px;
    color: white;
    
  }

   /* image about */
   .aboutimg {
    height: 400px;
    margin: 50px 130px 50px;
  }

  
  @media screen and  (max-width: 800px) {
    .aboutimg {
    height: 200px;
    margin: 50px 80px 50px;
    }
  }
  

  /* Footer */
  .footer span {
    padding: 70px;
    background: #1c1c1c;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
  }
   
  .footer a {
    text-decoration:none;
    color: rgba(211,219,222,1);
  }

  
  
 /* Responsive - screen less than 800px wide, making the two columns stack on top of each other instead of next to each other 
  @media screen (max-width: 800px) {


  }


  
  Responsive - screen is less than 400px wide, making the navigation links stack on top of each other instead of next to each other 
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
   
   }
  }
  