* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0px;
  }
  
  /* Header/Site Title */
  .header {
    padding: 280px;
    text-align: center;
    background-image: url(imagem/foto.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .header h1 {
    font-size: 50px;
    font-family: Lora;
    color: white;
    margin-top: -80px;
  }
  h2{
    font-size: 40px;
    font-family: Lora;
    color: #808080;
    right: 20%;
    margin-top: 140px;
    position: absolute;

  }
  h3{
    font-size: 20px;
    color: white;
    text-align: center;
  }

  /* Style to the top navigation bar */
  .topnav {
    color: white;
    background: #1c1c1c;
    top: auto;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    
  }
  
  /* Style to the topnav links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    right: 0;
    margin-left: 80px;
    width: 150px;
  }
  
  /* Change the color on hover */
  .topnav a:hover {
    background-color: #6e6b6b;
    color: none;
  }

  .introduce{
    font-family: Inconsolata;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 10px -90px;
  }
  

  p{
    color: #808080;
  }

  .firsttext{
    font-family: Inconsolata;
    color: #808080;
    text-align: center;
    position: absolute;
    display: inline-block;
    margin: 100px 0 20px auto;
    right: 10%;
  }

  .content-wrap{
    overflow: hidden;
    background-color: #D3D3D3;
    background-color:none;
    padding: 20px;
  }

  .objective{
    overflow: hidden;
    padding: 70px;
    background-color:rgba(75,98,102,1);
  }
  
  .socialmedia{
    overflow: hidden;
    background-color: rgba(214,217,218,1);
    padding: 80px;
  }


  /* album images */
  .albumimg {
    background-color: none;
    width: 89%;
    margin-top: -100px;
    padding: 20px;
    color: white;
    
  }

  /* album Populares */
  .albumpopulares {
    background-color:none;
    width: 90%;
    margin-top: 0;
    padding: 20px;
    color: white;
    
  }

   /* image about */
   .aboutimg {
    width: 35%;
    margin-top: -70px;
    margin-left: 100px;
    padding: 20px;
  }
  
 .fb-page{
  margin-left: 40%;

 }

  /* Footer */
  .footer span {
    padding: 70px;
    background: #1c1c1c;
    display: inline-block;
    width: 100%;
    text-align: center
  }
   

  
  /* Responsive - screen less than 800px wide, making the two columns stack on top of each other instead of next to each other 
  @media screen and (max-width: 365px) {
    .col,.topnav {   
      width: 85%;
      padding: 0;
      
    }
  }
  
  /* Responsive - screen is less than 400px wide, making the navigation links stack on top of each other instead of next to each other 
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
   
   }
  }*/
  